.cartItem__main {
  display: flex;
  align-items: center;
  border: 1px solid $light-grey;
  margin: 0.6rem 0.5rem;
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 2px 5px 1px $dark-grey;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5em;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    border: 1px solid $black;
  }

  img {
    max-width: 80px;
    border-radius: 5px;
  }

  .cartItem__title {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 1.1rem;
    align-self: center;
    font-weight: 500;
  }

  .cartItem__subdescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 300;
    // background-color: lightsteelblue;
    width: 100%;

    .cartItem__buttons {
      display: flex;
      flex-direction: column;

      .btn {
        width: 100%;
        padding: 4px;
        margin: 2px 5px;
      }
    }
  }
  // }
}
