.cartItem__main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10em;
  height: 3.5em;
  max-width: 100%;
  min-width: 400px;
  width: 35vw;
  border: 1px solid $light-grey;
  margin: 0.4em 0;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 1px $dark-grey;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    border: 1px solid $black;
  }

  img {
    max-height: 100%;
    max-width: 90px;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid $light-grey;
    border-left: 0px;
    left: 0;
  }

  .cartItem__description {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    font-size: 0.5em;
    color: $black;
    margin-left: 100px;
    width: 100%;

    .cartItem__title {
      margin: 0;
      padding: 0;
      align-self: center;
    }

    .cartItem__subdescription {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;

      p {
        font-weight: 600;
        font-style: italic;
      }

      .cartItem__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
          width: 100%;
          text-transform: capitalize;
          margin: 0.1em 0;
          border: 2px solid $light-grey;
          color: $dark-grey;  

          &:hover {
            box-shadow: 2px 2px 2px $primary;
          }
        }
      }
    }

    p {
      margin: 0;
    }

    button {
      margin: 0;
      padding: 5px;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 480px){
  
}