.comprar__main {
  @extend %main;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 4.5em;
  color: $white;
  height: 100%;
  // padding-bottom: 5em;

  .comprar__title {
    font-size: 3em;
    border-bottom: 2px solid $primary;
  }

  .link {
    position: absolute;
    left: 10px;
    top: 30px;
  }
}

.comprar__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4em;
  box-sizing: border-box;

  .comprar__items {
    display: flex;
    flex-direction: column;
    margin: 0 0 3em 0;

    .comprar__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 140px;
      width: 400px;
      padding-right: 10px;
      box-sizing: border-box;
      border: 1px solid $light-grey;
      margin: 0.5em 0;

      .item__description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 2em;

        h2,
        p {
          margin: 2px;
        }
      }

      .item__image {
        height: 100%;
      }
    }
  }

  .comprar__form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    width: 350px;

    input,
    select {
      font-size: 1.25em;
      font-style: italic;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      border-radius: 5px;
      border: none;

      &:last-child {
        margin-top: 1.5em;
        border: 1px solid;
        border-radius: 5px;
        height: 60px;
        font-family: inherit;
        font-size: 1.1em;
      }
    }

    label {
      font-size: 1.2em;
      font-style: italic;
      margin: 0.4em;
    }
  }

  .comprar__emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10em;

    h1 {
      font-size: 2em;
    }

    img {
      filter: drop-shadow(0 0 0.2rem $primary);
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px){
  
}