.comprar__main {
  @extend %main;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .comprar__title {
    font-size: 3em;
    border-bottom: 2px solid $primary;
  }

  .link {
    position: absolute;
    left: 10px;
    top: 30px;
  }
}

.comprar__nav {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  height: 5em;
  background-color: $primary;
  z-index: 999;
  box-shadow: 0 2px 5px $white;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;

    .nav__logo {
      width: 75%;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        filter: drop-shadow(2px 2px 1px $black);
      }
    }
  }
}

.comprar__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 7em;
  box-sizing: border-box;

  .comprar__items {
    display: flex;
    flex-direction: column;
    margin: 0 0 3em 0;

    .comprar__subtotal {
      width: 80%;
      align-self: center;
      font-size: 2em;
      text-align: center;
      background: $primary;
      border-radius: 20px;
      color: $dark-grey;
    }

    .comprar__tusProductosTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      font-size: 1.5em;
      text-align: center;
      background: $light-grey;
      color: $black;
      height: 40px;
    }
    .comprar__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 140px;
      width: 400px;
      padding-right: 10px;
      box-sizing: border-box;
      border: 1px solid $light-grey;
      margin: 0.5em 0;
      border-radius: 10px;

      .item__description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 1.5em;
        box-sizing: border-box;
        height: max-content;

        h2,
        p {
          margin: 0 2px;
        }

        .item__title {
          font-size: 1.2em;
          margin: 0;
        }

        .item__buttons {
          display: flex;
          align-items: center;

          .btn {
            padding: 10px;
          }
        }
      }

      .item__image {
        height: 100%;
        border-radius: 10px 0 0 10px;
      }
    }
  }

  .comprar__form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    width: 350px;

    input,
    select {
      font-size: 1.25em;
      font-style: italic;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      border-radius: 5px;
      border: none;
      padding: 5px;

      &:last-child {
        margin-top: 1.5em;
        border: 1px solid;
        border-radius: 5px;
        height: 60px;
        font-family: inherit;
        font-size: 1.1em;
        padding-left: 20px;
      }
    }

    label {
      font-size: 1.2em;
      font-style: italic;
      margin: 0.4em;
    }
  }

  .comprar__emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    h1 {
      font-size: 2em;
    }

    img {
      filter: drop-shadow(0 0 0.2rem $primary);
      width: 200px;
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 480px) {
  .comprar__nav {
    position: fixed;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 5em;
    background-color: $primary;
    z-index: 999;
    box-shadow: 0 2px 5px $white;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .nav__logo {
        width: 75%;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
          filter: drop-shadow(2px 2px 1px $black);
        }
      }
    }
  }

  .comprar__main {
    .comprar__title {
      font-size: 2em;
      margin-top: 4em;
    }

    .link {
      top: 4em;
      left: 1.5em;
    }
  }

  .comprar__container {
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;

    .comprar__items {
      max-width: 100%;

      .comprar__item {
        min-width: 300px;
        width: fit-content;
        border-radius: 20px;
        img {
          border-radius: 20px 0 0 20px;
        }
      }
    }

    .comprar__form {
      width: fit-content;
      // align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 50px;

      input {
        &:last-child {
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .comprar__items {
    max-width: 100%;

    .comprar__emptyCart {
      h1 {
        text-align: center;
        font-size: 1.5em;
      }
      img {
        width: 75px;
        height: 75px;
      }

      button {
        width: 80%;
        font-weight: 600;
      }
    }

    .comprar__item {
      max-width: 300px;
      border-radius: 20px;
      img {
        border-radius: 20px 0 0 20px;
      }
    }

    .comprar__form {
      width: fit-content;
      // align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 50px;

      input {
        &:last-child {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }

    .item__description {
      font-size: 0.8em;
    }
  }
}
