.footer__main {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  width: 100%;
  background-color: #30303090;
  // border-radius: 90px;
  margin: 1em 0;
  box-sizing: border-box;
  
  .footer__list {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

    .footer__list-item {
      box-sizing: border-box;
      margin: 0 20px;

      a {
        text-decoration: none;
        color: $white;
        font-size: 1.8em;
        transition: all 0.5s ease;
        font-style: inherit;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
