.footer__main {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 4.5em;
  width: 100%;
  background-color: #30303090;
  flex-direction: column;
  padding-bottom: 10px;

  small {
    color: white;
    a {
      color: $primary;
      font-size: 1.2em;
    }
  }

  .footer__list {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

    .footer__list-item {
      box-sizing: border-box;
      margin: 0 20px;

      a {
        text-decoration: none;
        color: $white;
        font-size: 1.2em;
        transition: all 0.5s ease;
        font-style: inherit;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer__main {
    width: 100%;

    .footer__list {
      flex-wrap: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0;

      .footer__list-item {
        box-sizing: border-box;
        margin: 0 10px;
        a {
          font-size: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-wrap: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .footer__main {
    height: 70px;
    .footer__list {
      .footer__list-item {
        margin: 0 5px;
      }
    }
  }
}
