.grid__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 5em;
  box-sizing: border-box;
  width: 80%;
  
  h2 {
    font-size: 2em;
    align-self: flex-start;
    padding: 10px 50px;
    background: $light-grey;
    border-radius: 20px;
  }

  .grid__card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
}
