.header__main {
  position: relative;
  box-sizing: border-box;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 0;
  background-color: $white;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 80%;

  .header__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header__list-item {

      .header__img-carousel {
        height: 90%;
        z-index: -10;
      }
    }
  }
}
