.header__main {
  // position: absolute;
  // bottom: 25em;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
  box-sizing: border-box;
  border-radius: 30px;
  // height: 350px;
  // width: 50em;
  padding: 200px 30%;
  margin: 0;
  background-color: lavender;
}
