.home__main {
  @extend %main;

  .home__container {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 4em;
    margin-bottom: 6em;
  }

  .home__title {
    display: flex;
    font-family: "Montserrat Alternates";
    font-weight: 200;
    margin: 0;
    margin-top: 15px;
    margin-left: 0.5em;
    font-size: 2.2em;
  }
}
