@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.nav__main {
  position: fixed;
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: $white;
  height: 4.5em;
  justify-content: space-between;
  min-width: 100%;
  width: 100%;
  z-index: 100;

  .carrito {
    display: flex;
    // min-width: 100px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    p {
      display: none;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      p {
        opacity: 1;
      }
    }
  }

  .menu {
    display: flex;
    // min-width: 80px;
    cursor: pointer;
  }

  .nav__menu {
    width: 1.7em;
    filter: invert(100%);
  }

  .nav__titleContainer {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;

    .nav__title {
      color: $black;
      font-size: 1.8rem;
      font-weight: 400;
    }

    .nav__logo {
      width: 40px;
    }
  }

  %navButtons {
    display: block;
    position: fixed;
    align-self: center;
    z-index: 100;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .nav__navSidebar {
    @extend %navButtons;
    width: 1.7em;
    left: 1.5em;
    filter: invert(100%);
  }

  .nav__openNavSidebar {
    @extend %navButtons;
    width: 1.7em;
    left: 1.5em;
    filter: invert(100%);
  }

  .nav__navCart {
    @extend %navButtons;
    right: 1.5em;
    width: 2.1em;
  }

  .nav__openNavCart {
    @extend %navButtons;
    right: 1.5em;
    width: 2.5em;
    filter: invert(0%);
  }
}

@media screen and (min-width: 720px) {
  .nav__main {
    .nav__titleContainer {
      display: flex;
      margin-left: 50px;

      .nav__logo {
        display: flex;
        width: 50px;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
          filter: drop-shadow(1px 1px 1px $black);
        }
      }
    }

    .carrito {
      display: flex;
      cursor: pointer;

      &:hover {
        p {
          opacity: 1;
        }
      }

      p {
        display: block;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}
