.roundGrid__main {
  display: flex;
  height: 200px;
  width: 80%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  .roundGrid__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 200px;
    background-color: #30303090;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
        box-shadow: 6px 6px 10px $white;
        opacity: 1;
    }

    p {
      color: white;
    }


  }

  .cadena{
    background-image: url('../../Assets/logos/jean.jpeg');
  }

  .vario{
    background-image: url('../../Assets/logos/vario.jpeg');
  }

  .choker{
    background-image: url('../../Assets/logos/choker.jpeg');
  }

  .aro{
    background-image: url('../../Assets/logos/ear.jpeg');
  }

  .collar{
    background-image: url('../../Assets/logos/neck.jpeg');
  }
 
}
