.sidebar__main {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2em;
  top: 4em;
  height: 50vh;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 0px;
  background-color: $white;
  color: $black;
  width: 12em;
  z-index: 20;
  box-shadow: 4px 4px 3px 2px #00000050;

  .sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar__list-item {
    font-size: 1.5em;
    margin: 10px 0;

    a {
      color: $black;
      font-family: "Montserrat Alternates";
      font-style: normal;

      &:hover {
        color: $primary;
      }
    }

    .sidebar__linkTo {
      cursor: pointer;
    }
  }
}

// @media screen and (max-width: 320px) {
//   .sidebar__main {
//     padding: 20px;
//     height: 22em;

//     .sidebar__exit {
//       margin-bottom: 2em;
//       font-size: 0.8em;
//     }

//     .sidebar__list {
//       .sidebar__list-item {
//         font-size: 1.3em;
//       }
//     }
//   }
// }
