.sidebar__main {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2em;
  height: 60%;
  box-sizing: border-box;
  margin-top: 4em;
  border-radius: 0px 0px 10px 0px;
  background-color: $primary;
  width: 12em;

  .sidebar__exit {
    height: 40px;
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 1em;
    justify-self: flex-start;

    &:hover {
      filter: drop-shadow(2px 2px 14px $white);
    }
  }

  .sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar__list-item {
    font-size: 1.8em;
    margin: 10px 0;

    a {
      color: $dark-grey;

      &:hover {
        color: $violet;
      }
    }

    .sidebar__linkTo {
      cursor: pointer;
    }
  }
}
