.tienda__main {
      @extend %main;
}

.tienda__loading {
  @extend %main;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-sizing: border-box;
  text-align: center;
}


