.view__main {
  @extend %main;
  align-items: center;
  height: 100%;

  .view__btnTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    button {
      font-size: 1.4em;
    }
  }

  .view__title {
    display: flex;
    color: $white !important;
    text-align: center;
    justify-content: center;
    font-weight: 200;
    margin-bottom: 0;
  }

  .view__card {
    padding: 2em 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $white;


    .view__product {
      display: flex;
      width: 70vw;
      justify-content: space-around;
      border-bottom: 2px solid $black;
      margin: 1em 0 5em 0;

      .card__carousel {
        border-radius: 10px;
        margin: 2em;
      }

      .view__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0 20px;
        padding-bottom: 20px;

        .view__description__precio{
          font-weight: 800;
          color: darken($primary, 30);
          font-size: 2.2em;
          margin: .2em 0;
        }

        .view__description__title {
          margin: 0;
          font-size: .8em;
        }

        button {
          font-size: 1.1em;
        }

        h1 {
          font-size: 3em;
          color: $black;
        }

        .view__payment {
          display: flex;
          align-items: center;
          width: fit-content;
          margin-bottom: 20px;

          .view__paymentImg {
            width: 48px;
            height: 48px;
          }

          .view__paymentDescription {
            margin-left: 5px;
            font-size: 0.8em;
            align-self: flex-start;

            span {
              color: darken($primary, 20%);
            }
          }
        }

        .view__buttons-box{
          display: flex;
          justify-content: space-evenly;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .view__main {
    margin-top: 6em;
    .view__cardMobile {
      margin-bottom: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      color: $white;
      padding: 0 20px;
      box-sizing: border-box;
      position: relative;

      .view__headerMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;

        .view__backButtonMobile {
          left: 0;
          top: 5px;
          position: absolute;
          background: $primary;
          border: none;
          border-radius: 50%;
          padding: 10px;
        }
      }

      hr {
        width: 100%;
        border: 2px solid $black;
      }

      .view__typeMobile {
        font-size: 1.5em;
        background-color: $primary;
        padding: 10px;

        border-radius: 25px;
        width: fit-content;
      }

      .view__swiperMobile {
        width: 100%;
        // background-color: white;
        margin: 0 50px;

        .view__imageNoSlider {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .view__imageSliderMobile {
          width: 200px;
          border-radius: 10px;
        }
      }

      .view__descriptionMobile {
        .view__titleMobile {
          margin: 0;
        }

        p {
          margin: 0;
        }

        .view__precioMobile {
          font-size: 2em;
          color: darken($primary, 20%);
        }

        .view__paymentMobile {
          display: flex;
          align-items: center;
          width: fit-content;
          margin-bottom: 20px;

          .view__paymentImgMobile {
            width: 48px;
            height: 48px;
          }

          .view__paymentDescription {
            margin-left: 5px;
            font-size: 0.8em;
            align-self: flex-start;

            span {
              color: darken($primary, 20%);
            }
          }
        }
      }
    }
  }
}
