.view__main {
  @extend %main;
  align-items: center;
  height: 100%;

  .view__btnTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;

    button {
      font-size: 1.4em;
      border: 2px solid $white;
      color: $white;
    }
  }

  .view__title {
    display: flex;
    color: $white;
    text-align: center;
    justify-content: center;
    font-style: italic;
  }

  .view__card {
    padding: 2em 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .view__product {
      display: flex;
      width: 70vw;
      justify-content: space-around;
      align-items: center;
      background: #fcedff;
      border-radius: 20px;
      margin: 1em;

      .card__carousel {
        border-radius: 10px;
        margin: 2em;
      }

      .view__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black;

        .view__description__title {
          margin: 0;
        }

        button {
          color: $black;
          border: 2px solid $dark-grey !important;
          font-size: 1.1em;
        }

        h1 {
          font-size: 3em;
          color: $black;
        }
      }
    }
  }
}
