@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');


//colors
// $primary: #e2d4ec;

$primary: #c3d5e9;
$dark-grey: #272727;
$light-grey: #c2c2c2;
$violet: #81b1e4;



$white: #fff;
$black: #040404;
